################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/esg/v15
/.vs/config
/.vs/slnx.sqlite
